## Test data analysis

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import plotly.express as px
import matplotlib.pyplot as plt

In [2]:
df_test=pd.read_excel('Test_set.xlsx')
df_test.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info

In [3]:
df_test.columns

Index(['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Route',
       'Dep_Time', 'Arrival_Time', 'Duration', 'Total_Stops',
       'Additional_Info'],
      dtype='object')

In [4]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2671 entries, 0 to 2670
Data columns (total 10 columns):
Airline            2671 non-null object
Date_of_Journey    2671 non-null object
Source             2671 non-null object
Destination        2671 non-null object
Route              2671 non-null object
Dep_Time           2671 non-null object
Arrival_Time       2671 non-null object
Duration           2671 non-null object
Total_Stops        2671 non-null object
Additional_Info    2671 non-null object
dtypes: object(10)
memory usage: 208.8+ KB

In [5]:
df_test.Source.value_counts()

Delhi       1145
Kolkata      710
Banglore     555
Mumbai       186
Chennai       75
Name: Source, dtype: int64

In [6]:
df_test.Destination.value_counts()

Cochin       1145
Banglore      710
Delhi         317
New Delhi     238
Hyderabad     186
Kolkata        75
Name: Destination, dtype: int64

In [7]:
df_test.Total_Stops.value_counts()

1 stop      1431
non-stop     849
2 stops      379
3 stops       11
4 stops        1
Name: Total_Stops, dtype: int64

In [8]:
df_test.Additional_Info.value_counts()

No info                         2148
In-flight meal not included      444
No check-in baggage included      76
1 Long layover                     1
Business class                     1
Change airports                    1
Name: Additional_Info, dtype: int64

In [9]:
#One hot encoding  converting categorical columns to numerical columns

Airline_test_dummy=pd.get_dummies(df_test['Airline'],drop_first=True) # one hot encoding
Airline_test_dummy.head()

,Air India,GoAir,IndiGo,Jet Airways,Jet Airways Business,Multiple carriers,Multiple carriers Premium economy,SpiceJet,Vistara,Vistara Premium economy
0,0,0,0,1,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0
2,0,0,0,1,0,0,0,0,0,0
3,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0

In [10]:
# one hot encoding
Source_test_dummy=pd.get_dummies(df_test.Source,drop_first=True)
Desination_test_dummy=pd.get_dummies(df_test.Destination,drop_first=True)
Additional_Info_test_dummy=pd.get_dummies(df_test.Additional_Info,drop_first=True)
Total_Stops_test_dummy=pd.get_dummies(df_test.Total_Stops,drop_first=True)

In [11]:
df_test=pd.concat([Airline_test_dummy,Additional_Info_test_dummy,Source_test_dummy,Desination_test_dummy,Total_Stops_test_dummy,df_test],axis=1)

In [12]:
df_test['Date']=df_test.Date_of_Journey.apply(lambda x: x.split('/')).apply(lambda x: x[0])
df_test['Date']=df_test.Date.astype('int64')

In [13]:
df_test['Month']=df_test.Date_of_Journey.apply(lambda x: x.split('/')).apply(lambda x: x[1])
df_test['Month']=df_test.Month.astype('int64')

In [14]:
df_test['Dep_Hour']=df_test.Dep_Time.apply(lambda x: x.split(':')).apply(lambda x: x[0])
df_test['Dep_Hour']=df_test['Dep_Hour'].astype('int64')

In [15]:
df_test['Dep_Min']=df_test.Dep_Time.apply(lambda x: x.split(':')).apply(lambda x: x[0])
df_test['Dep_Min']=df_test['Dep_Min'].astype('int64')

In [16]:
lst_test_dur=list(df_test['Duration'])
lst_test_hour=[]
lst_test_min=[]

In [17]:
for i in range(len(lst_test_dur)):
    if len(lst_test_dur[i].split())!=2:
        if 'h' in lst_test_dur[i]:
            lst_test_dur[i]=lst_test_dur[i].strip()+' 0m'
        else:
            lst_test_dur[i]='0h '+lst_test_dur[i]

In [18]:
lst2test_=[]
lst3test_=[]
lst1test_=lst_test_dur
for i in range(len(lst1test_)):
    lst1test_[i]=lst1test_[i].split(' ')
    lst1test_[i][0]=lst1test_[i][0]
    lst1test_[i][0]=lst1test_[i][0].split('h')
    lst1test_[i][1]=lst1test_[i][1].split('m')
    lst2test_.append(int(lst1test_[i][0][0]))
    lst3test_.append(int(lst1test_[i][1][0]))

df_test['Duration_hour']=lst2test_
df_test['Duration_min']=lst3test_

In [19]:
df_test['Arrival_hour']=df_test.Arrival_Time.apply(lambda x: x.split(':')).apply(lambda x: x[0])
df_test['Arrival_hour']=df_test['Arrival_hour'].astype('int64')

In [20]:
df_test['Arrival_min']=df_test.Arrival_Time.apply(lambda x: x.split(':')).apply(lambda x: x[1])
df_test['Arrival_min']=df_test.Arrival_min.apply(lambda x: x.split(' ')).apply(lambda x: x[0]).astype('int64')#=df['Arrival_min'].astype('int64')

In [21]:
df_test=df_test.drop(['Airline','Date_of_Journey', 'Source', 'Destination', 'Route','Duration','Total_Stops','Arrival_Time','Additional_Info'],axis=1)

In [22]:
df_test.head()

,Air India,GoAir,IndiGo,Jet Airways,Jet Airways Business,Multiple carriers,Multiple carriers Premium economy,SpiceJet,Vistara,Vistara Premium economy,...,non-stop,Dep_Time,Date,Month,Dep_Hour,Dep_Min,Duration_hour,Duration_min,Arrival_hour,Arrival_min
0,0,0,0,1,0,0,0,0,0,0,...,0,17:30,6,6,17,17,10,55,4,25
1,0,0,1,0,0,0,0,0,0,0,...,0,06:20,12,5,6,6,4,0,10,20
2,0,0,0,1,0,0,0,0,0,0,...,0,19:15,21,5,19,19,23,45,19,0
3,0,0,0,0,0,1,0,0,0,0,...,0,08:00,21,5,8,8,13,0,21,0
4,0,0,0,0,0,0,0,0,0,0,...,1,23:55,24,6,23,23,2,50,2,45